.deux img{
    width: 500px;
    height: 550px;
    margin-top: 0px;
}

.une{
    background-color: #0b0b36;
    color: white;
     width: 200px; 
     height: 550px; 
    padding-right: 300px;
}
section{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.tout{
    margin: auto;
    background-image: linear-gradient(to left, red, purple);
    display: flex;
    padding: 7%;
}

/* -------------------------------------------------------------------------------------------------------- */

 .une h1{
    color: rgba(173, 30, 102);
    margin: auto;
}

label{
    padding-left: 15px;
}

input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    background: none; 
}
